---
const { platform, username } = Astro.props;
---

<style>
  .social-link {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>

<a class="social-link" href={`https://www.${platform}.com/${username}`}>{platform}</a>